<template>
  <header class="header">
    <b-navbar class="container">
      <template slot="brand">
        <b-navbar-item href="packages" class="navbar-no--action">
          <img src="../assets/images/favor-logo.svg" alt="Favor Logo" />
          <span class="seperator">|</span>
          <span class="partner">Yönetim Paneli</span>
        </b-navbar-item>
      </template>
      <template slot="end">
        <b-navbar-item tag="router-link" :to="{ name: 'Packages' }">
          Paketler
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ name: 'Businesses' }">
          Tüm İşletmeler
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ name: 'Approves' }">
          Onay Bekleyen Paketler
        </b-navbar-item>
        <b-navbar-item tag="div">
          <div class="buttons">
            <b-button type="is-dark" outlined>Çıkış Yap</b-button>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
  </header>
</template>

<script>
export default {
  name: 'MainHeader'
}
</script>

<style scoped>
.navbar {
  min-height: 64px;
}

.header,
.container {
  background-color: #eb6e64;
}

.seperator {
  font-size: 25px;
  margin-left: 16px;
  margin-bottom: 5px;
  margin-right: 8px;
}

.partner {
  font-family: "Roboto-Bold";
}

.navbar-item {
  color: white;
  font-family: "Roboto-Medium";
  font-size: 14px;
}

.navbar-no--action:hover {
  color: white !important;
  cursor: default;
}

.navbar-no--action img:hover {
  cursor: pointer;
}

.navbar-item:hover,
.navbar-item:focus {
  color: black;
  background-color: #eb6e64;
}
</style>
