<template>
  <div class="is-child box notifications">
    <p class="notifications__title">BİLDİRİMLER</p>
  </div>
</template>

<script>
export default {
  name: 'Notifications'
}
</script>

<style>
.notifications {
  height: 150px;
  padding: 0 !important;
}

.notifications__title {
  background-color: #3ecc81;
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-size: 13px;
  font-family: "Roboto-Bold";
}
</style>
