<template>
  <div id="app">
    <MasterHeader />
    <main>
      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column">
              <router-view />
              <b-loading v-model="this.loader"></b-loading>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
import MasterHeader from '@/components/Header'
export default {
  name: 'App',
  components: {
    MasterHeader
  }
}
</script>
<style>
@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto-Black"),
    url("./assets/font/Roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Normal";
  src: local("Roboto-Normal"),
    url("./assets/font/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./assets/font/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
    url("./assets/font/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("./assets/font/Roboto/Roboto-Bold.ttf") format("truetype");
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main,
html {
  background-color: #f5f5f5 !important;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: #eb6e64 !important;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
  }
  a.navbar-item.is-active {
    color: black !important;
  }
}

.text-center {
  text-align: center;
}
</style>
